{% extends "base.html" %}
{% block title %}Graphs - {% endblock %}
{% block css %}<link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">{% endblock %}
{% block rows %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <div class="col-md-4 left-nav">
                <strong>Available Graphs</strong>
                <ul>
                    <li class="nav-item" id="nav-item-1"><a href="#" onclick="toggleNav(1);">Population and Housing</a></li>
                    <li class="nav-item" id="nav-item-2"><a href="#" onclick="toggleNav(2);">Gross Rent As Percent of Household Income</a></li>
                </ul>
            </div>


            <div id="graph1" class="graph col-md-8">
                <div>
                    <h1 class="intro-text text-center">Population and Housing Units By Year</h1>
                    <hr>
                </div>
                <div>
                    <div id="chart1"></div>
                </div>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor, augue vitae hendrerit ultrices, eros purus cursus nulla, consequat porta mi turpis a tortor. Morbi consequat semper lacus, sit amet bibendum purus venenatis sit amet. Phasellus eget lobortis urna, eu laoreet elit. Nam pellentesque dignissim urna, nec ornare mi condimentum id. Pellentesque vitae nisl pellentesque, luctus purus at, vulputate tellus. Donec viverra in risus et consequat.
                </p>
                <p><small><strong>data source:</strong> ACS 2014</small></p>
            </div>


            <div id="graph2" class="graph col-md-8">
                <div>
                    <h1 class="intro-text text-center">Gross Rent As Percent of Household Income</h1>
                    <hr>
                </div>
                <div>
                    <div id="chart2"></div>
                </div>
                <p>
                    In pellentesque velit justo, faucibus pulvinar lorem egestas vitae. Duis vitae enim elit. Suspendisse egestas malesuada enim. Nulla ligula ante, tempor vel ex nec, fringilla pulvinar magna. Donec in commodo leo, nec accumsan justo. Integer enim erat, finibus in dignissim sed, accumsan a felis. Integer egestas sem nec diam cursus, eu vulputate libero commodo. Ut consectetur hendrerit feugiat.</p>
                <p><small><strong>data source:</strong> ACS 2014</small></p>
            </div>


        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    <!-- Affordable Housing Core JavaScript -->
    <script src="{{ url_for('static', filename='js/affordable-housing.js') }}"></script>

    <!-- Used to connect C3 to page -->
    <script src="{{ url_for('static', filename='graph-config/population-and-housing-units-by-year.js') }}"></script>
    <script src="{{ url_for('static', filename='graph-config/acs-gross-rent-percent-household-income.js') }}"></script>
<script src="{{ url_for('static', filename='graph-config/acs-gross-rent-percent-household-income2.js') }}"></script>
<script src="{{ url_for('static', filename='graph-config/acs-gross-rent-percent-household-income3.js') }}"></script>
{% endblock %}